html {
    background-color: #ced8e0;
}

* {
    font-family: sans-serif;
}


.wrapper {
    min-height: 100%;
    width: 100%;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}




.header__section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}
.header__container {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}
.header_logo {
    font-size: 36px;
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color: #2b2b2b;
}




.test__section {
    background-color: #ced8e0;
}

.slider-container {
    overflow: hidden;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.test__section-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}






.summm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: auto;
}

.antwort_block {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#antwort {
    width: 100%;
    
}

#antwort-btn {
    width: 20%;
    font-size: 13px;
}

.inpClass {
    padding: 10px;
    font-size: 20px;
    color: #575757;
    
}

.window_summ {
    border-radius: 10px;
    background-color: white;
    
}

.task__item-text-container {
    max-width: 72%;
}

.task__item-btn-container {
    display: flex;
    gap: 5px;
}

.task__item-text {
    overflow-wrap: break-word;
    white-space: normal;
    color: rgb(145, 91, 91);
}

.task__manage {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.task__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 80vw;
    box-shadow: 12px 0px 47px 3px rgba(34, 60, 80, 0.12);
    border: 2px solid rgb(240, 240, 240);
}



.task__item-btn {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(238, 238, 238);
}



.task__item-cencel {
    background-color: rgb(255, 93, 93);
    color: white;
    padding: 0 20px 0 20px;
}

.text-completed-style {
    text-decoration: line-through;
    color: rgb(204, 204, 204);
}

.rr {
    transition: 2s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.description {
    width: 70px;
    font-size: 10px;
}

.description__li {
    margin-top: 10px;
    font-size: 14px;
}

#input__description {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    width: 500px;
    display: none;
    margin-bottom: 50px;
}



@media (max-width: 547px) {

    .task__item {
        width: 100%;
    }
}



@media (min-width: 1300px) {

    .task__item {
        width: 60vw;
    }
}
